/MapsSet
/node_modules
/dataset
/maps_features
/models/reinforcement_effort/dataset_black_white
/models/reinforcement_effort/dataset_img_json
/models/reinforcement_effort/base
/models/autoencoder/img_map_dataset2
/models/autoencoder/img_map_dataset
/models/autoencoder/dataset_qtable
/models/autoencoder/dataset_black_white
test.py